* {
    margin: 0 auto;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(48, 46, 75);
}

nav {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom, rgb(20, 19, 37), rgb(48, 46, 75));
}

h1 {
    font-size: 40px;
    font-family: 'Pacifico';
    margin-bottom: 5%;
}

section {
    max-width: 801px;
    display: flex;
    flex-direction: column;
    /* border: orange solid 1px; */
}

input[type=text], input[type=number] {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    font-family: 'Pacifico';
    font-size: 25px;
    background-color: rgb(48, 46, 75);
    outline: none;
}

::placeholder {
    color: rgba(255, 166, 0, 0.753);
}

input {
    color: orange;
    margin: 10px 0px 10px 0px;
    padding-left: 15px;
    -webkit-appearance: none;
    border: 1.0px solid orange;
    border-radius: 5px;
}

#emptiness_interceptor {
    font-family: 'Pacifico';
    color: orange;
    font-size: 16px;
}

input[type=number] {
    width: 70px;
}

#text_number_area {
    height: 100px;
    width: 360px;
    display: flex;
    margin: 12% 0% 2% 0%;
}

button {
    margin: 1% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    height: 80px;
    width: 100px;
    font-family: "Pacifico";
    font-size: 40px;
    border: none;
    -webkit-appearance: none;
    outline: none;
}

#rendered_gifs_area {
    margin: 5% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
}

.glow {
    font-size: 80px;
    color: rgb(48, 46, 75);
    text-align: center;
    -webkit-animation: glow 0.1s ease-in-out infinite alternate;
    -moz-animation: glow 0.1s ease-in-out infinite alternate;
    animation: glow 0.2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px rgb(248, 187, 74), 0 0 20px rgb(248, 187, 74), 0 0 30px orange, 0 0 40px orange, 0 0 50px orange, 0 0 60px orange, 0 0 70px orange;
    }
    to {
        text-shadow: 0 0 20px rgb(248, 187, 74), 0 0 30px orange, 0 0 40px orange, 0 0 50px orange, 0 0 60px orange, 0 0 70px orange, 0 0 80px orange;
    }
}

.glass {
    /* background styles */
    position: relative;
    /*for compatibility with older browsers*/
    background-image: linear-gradient(orange, rgb(221, 145, 4));
    /* text styles */
    color: rgb(48, 46, 75);
    font-family: 'Pacifico';
    font-weight: 100;
    border-radius: 7px;
}

.glass:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 30%;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
}

.glass:hover {
    background: linear-gradient(rgb(206, 125, 5), rgb(255, 187, 41));
}