input[type=text], select {
    width: 90%;
    padding: 1% 1% 1% 1%; 
    margin: 1% 0% 1% 0%; 
    border: 1px solid #ccc; 
    -border: none;
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px 8px #888888; 
} 

input[type=submit] {
    width: 20%;
    padding: 1% 1% 1% 1%; 
    margin: 2% 0% 1% 0%; 
    border: 3px solid orange;
    -border: none;
    border-radius: 20px;
    color: white;
    background-color: mediumseagreen;  
    box-shadow: 10px 10px 8px #888888;
    
    cursor: pointer;
    text-align: left;
}







input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    /* For mobile, it's typically better to position checkbox on top of clickable
       area and turn opacity to 0 instead. */
 }
 
 /* Default State */
 div {
    background: green;
    width: 400px;
    height: 100px;
    line-height: 100px;
    color: white;
    text-align: center;
 }
 
 /* Toggled State */
 input[type=checkbox]:checked ~ div {
    background: red;
 }